.page-wrap.jsx-1374449561 {
  max-width: 1200px;
  margin: 0 auto;
}

.header.jsx-1374449561 {
  padding: 30px 15px 0;
  max-width: 768px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .header.jsx-1374449561 {
    padding: 30px 30px 0;
  }
}

#siteName.jsx-1374449561 h1.jsx-1374449561 {
  font-size: 42px;
  font-weight: 700;
  color: #333;
  font-family: "Poppins";
}

#siteName.jsx-1374449561 h1.jsx-1374449561 a.jsx-1374449561 {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  color: inherit !important;
  -webkit-letter-spacing: inherit !important;
  -moz-letter-spacing: inherit !important;
  -ms-letter-spacing: inherit !important;
  letter-spacing: inherit !important;
}

@media (min-width: 600px) {
  #siteName.jsx-1374449561 h1.jsx-1374449561 {
    font-size: 60px;
  }
}

#siteName.jsx-1374449561 h1.jsx-1374449561 .tiny.jsx-1374449561 {
  color: #000;
  font-weight: 900;
}

.siteSubtitle {
  margin-top: 15px;
}
.siteSubtitle-top {
  margin-top: 5px;
  margin-bottom: 10px;
}

#siteNav.jsx-1374449561 {
  padding-top: 10px;
}

#siteNav.jsx-1374449561 a.jsx-1374449561 {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #777;
  margin-right: 15px;
  border-bottom: 1px dotted #777;
}

#siteNav.jsx-1374449561 a.em.jsx-1374449561 {
  color: #000;
  border-color: #000;
}

.body.jsx-1374449561 {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px 90px;
  overflow-x: hidden;
}

@media (min-width: 600px) {
  .body.jsx-1374449561 {
    padding: 0 30px 90px;
  }
}

.titleText.jsx-1374449561 h1.jsx-1374449561 {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  font-family: "Poppins";
  display: inline-block;
}

@media (min-width: 600px) {
  .titleText.jsx-1374449561 h1.jsx-1374449561 {
    font-size: 42px;
  }
}

.titleText.jsx-1374449561 .faded.jsx-1374449561 {
  display: inline-block;
  vertical-align: middle;
  color: #f0f0f0;
  overflow: hidden;
}

.titleText.jsx-1374449561 .spaced.jsx-1374449561 {
  line-height: 2.1em;
}

.subtitleText.jsx-1374449561 {
  max-width: 580px;
  line-height: 1.6em;
}

.subtitleText.wide.jsx-1374449561 {
  line-height: 1.72em;
}

.subtitleText.jsx-1374449561 a.jsx-1374449561 {
  color: #e14f3d;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-bottom: 1px dotted #e14f3d;
}

.step {
  display: none;
}

.step.shown {
  display: block;
}

.stepContent.jsx-1374449561 {
  padding-top: 30px;
}

.topicList.jsx-1374449561 {
  width: 100%;
  display: block;
}

.topicListItem.jsx-1374449561 {
  width: 100%;
  height: 75px;
  background-color: #999;
  margin-bottom: 15px;
  border-radius: 6px;
  color: #fff;
  font-family: "Poppins";
  box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: box-shadow 0.12s ease, -webkit-transform 0.12s ease;
  -webkit-transition: box-shadow 0.12s ease, transform 0.12s ease;
  transition: box-shadow 0.12s ease, transform 0.12s ease;
}

@media (min-width: 600px) {
  .topicListItem.jsx-1374449561 {
    height: 100px;
  }
  .topicListItem.jsx-1374449561:hover {
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }
}

.topicListItem.active.jsx-1374449561,
.topicListItem.jsx-1374449561:hover {
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
}

.topicListItem.active.jsx-1374449561 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.topicListItem.ofAge.jsx-1374449561 {
  background-color: #092c57;
}

.topicListItem.notOfAge.jsx-1374449561 {
  background-color: #00a9e2;
}

.topicListItem.isReg {
  background-color: #092c57;
}

.topicListItem.maybeReg {
  background-color: #00a9e2;
}

.topicListItem.notReg {
  background-color: #555;
}

.topicListItem.facebook {
  background-color: #3b5998;
}

.topicListItem.twitter {
  background-color: #08a0e9;
}

.topicListItem.email.jsx-1374449561 {
  background-color: #c20004;
}

.topicListItemWrap.jsx-1374449561 {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.checkBox.jsx-1374449561 {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #333;
  border-radius: 6px;
  left: 12px;
  right: auto;
  top: auto;
  bottom: auto;
}

@media (min-width: 600px) {
  .checkBox.jsx-1374449561 {
    left: 24px;
  }
}

.topicListItem.active.jsx-1374449561 .checkBox.jsx-1374449561:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  background-color: #e14f3d;
  box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.3);
}

.topicTitle.jsx-1374449561 h6.jsx-1374449561 {
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 600px) {
  .topicTitle.jsx-1374449561 h6.jsx-1374449561 {
    font-size: 24px;
  }
}

.topicImg.jsx-1374449561 {
  display: none;
}

.continueBtn.jsx-1374449561 {
  width: 90%;
  height: 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.backBtn.jsx-1374449561 {
  margin-top: 15px;
}

.continueBtn.jsx-1374449561 button.jsx-1374449561 {
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  outline: none !important;
  border: none !important;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  -webkit-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
  -webkit-transition: -webkit-transform 0.12s ease;
  -webkit-transition: transform 0.12s ease;
  transition: transform 0.12s ease;
}

.continueBtn.jsx-1374449561 button.active.jsx-1374449561 {
  background-color: #ea2a2e;
  box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (min-width: 600px) {
  .continueBtn.jsx-1374449561 {
    height: 75px;
  }
  .continueBtn.jsx-1374449561 button.jsx-1374449561 {
    font-size: 21px;
  }
}

.inputWrap.jsx-1374449561 {
  margin-bottom: 15px;
}

.inputWrap.jsx-1374449561 label.jsx-1374449561 {
  font-size: 14px;
  color: #777;
}

.tb-input.jsx-1374449561 {
  width: 95%;
  height: 42px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(51, 51, 51, 0.1);
  font-size: 18px;
  font-family: "Poppins";
  color: #000;
  -webkit-letter-spacing: 0.012em;
  -moz-letter-spacing: 0.012em;
  -ms-letter-spacing: 0.012em;
  letter-spacing: 0.012em;
  border-radius: 0 !important;
}

.tb-input.jsx-1374449561:focus {
  border-color: #febd00;
}

.pageSection.jsx-1374449561 {
  padding-top: 45px;
}

.footer.jsx-1374449561 {
  background-color: #092c57;
  padding: 30px 15px 45px;
}

@media (min-width: 600px) {
  .footer.jsx-1374449561 {
    background-color: #092c57;
    padding: 30px 30px 45px;
  }
}

.footerInner.jsx-1374449561 {
  max-width: 768px;
  margin: 0 auto;
}

.footer.jsx-1374449561 #siteName.jsx-1374449561 h1.jsx-1374449561 {
  color: #fff;
  font-family: "Poppins";
}

/* SECONDARY LOAD */

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

audio,
embed,
iframe,
img,
object,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: #777;
  border-top: 12px solid #092c57;
}

a,
p {
  -webkit-letter-spacing: 0.08em;
  -moz-letter-spacing: 0.08em;
  -ms-letter-spacing: 0.08em;
  letter-spacing: 0.08em;
}

/* EVC title logo */
.evc-title-logo {
  width: 42px;
  height: 42px;
}

/* Embedded Step Content */
.stepContent-embeds {
  margin-top: 32px;
}
.stepContent-embeds.voterInfoProject {
  margin-top: 0;
}

.stepTitle-noButton h3 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 16px;
}

.stepTitle-noButton a {
}

.ptv-link {
  text-decoration: none;
  color: #ea2a2e;
  border-bottom: 1px dotted #ea2a2e;
}

/*** VOTER INFO PROJECT ***/
#_vit {
  width: 100% !important;
}
